.full-container {
    background: -webkit-linear-gradient(to right, #77A1D3 , #79CBCA, #E684AE);  
    background: linear-gradient(to right,#77A1D3, #79CBCA, #E684AE);
    height: auto;   
    min-height: 100vh;
    display: flex;
    justify-content: center;  
}    

.full-box {
    width: 90%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;   
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.address-box {
    display: flex;
    height: 100%;
    flex-direction: column;
    background:#fff;
    border-radius: 20px; 
}

.payment-box {
    display: flex;
    height: 100%;
    width: 90%;  
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top : 20px;
}

.field-container {
    margin-top: 20px;
    margin-bottom: 20px;     
    margin-left: 20px;  
}

.address-field {
    width: 80%;
    margin-top: 50px;       
}

.heading {
    margin-bottom: 30px;
    align-self: center;
}

.address-button {
    width: 50%;       
    margin-bottom: 200px;    
    margin-left: 20px;  
    align-self: center;  
}   

.payment-box-order {
    min-height: 300px;
    border-radius: 20px;
    width: 100%;  
    margin-bottom: 30px; 
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 10px;
}

.order-title {
    font-size: 20px;
    margin: 20px;
    margin-bottom: 5px;
    align-self: center;
}

.order-details {
    margin: 20px;
    margin-top: 5px;
    align-self: center;
}

.shipping-indian {
    align-self: center;   
    font-size: 12px;
}

.indian-box {
    display: flex;
    flex-direction: column;
}

.shipping-indian-price {
    align-self: center;
    margin-top: 10px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount-box {
    min-height: 300px;
    border-radius: 20px;
    width: 100%;  
    margin-bottom: 30px; 
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.text-success {
    font-size: 12px;
}

.margin-30 {
    margin-top: 30px;
}

.coupon-heading {
    margin-bottom: 10px;
    margin-top: 10px;
}

.coupon-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:#D5D8DC;
    margin-bottom: 20px;
    width: 60%;
    margin-top: 20px;
    border-radius: 10px;
}

.coupon-name {

}

.payment-background {
    background: -webkit-linear-gradient(to right, #00F260 , #0575E6);  
    background: linear-gradient(to right,#00F260, #0575E6);
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-payment {
    background: #fff;
    width: 80%;
    min-height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.payment-coin {
    color: #0575E6;
}

.payment-span {
    color: #00F260;
}

.payment-continue {
    font-size: 20px;
    color: #000;
    text-decoration: underline;
}